<!-- partials/header.ejs -->
<div class="main-content">
  <div class="body">
    <!-- logo -->
    <img src="./images/img/logo-web.png" alt="logo" />
    <!-- Navbar -->
    <nav class="navbar">
      <ul>
        <li class="active"><a href="#!">Trang Chủ</a></li>
        <li><a href="#!">Luyện Tập</a></li>
        <li><a href="#!">Khóa Học</a></li>
        <li><a href="#!">Thử Thách</a></li>
        <li><a href="#!">Xếp Hạng</a></li>
        <li><a href="#!">Blog</a></li>
      </ul>
    </nav>
    <!-- Authentication -->
    <div class="action">
      <a href="#!" class="btn btn-sign-in open-modal-btn">Đăng Nhập</a>
    </div>
  </div>
</div>
