<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- reset css -->
    <link rel="stylesheet" href="./css/reset.css" />
    <!-- embed fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sen:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- Sửa đường dẫn favicon -->
    <link rel="icon" href="/images/img/bg-logo-web.png" type="image/png" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- Sửa đường dẫn từ ./css thành /css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/leaderboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Xếp Hạng | Code Master</title>
  </head>
  <body>
    <!-- Thêm header -->
    <header class="header fixed"><%- include('partials/header') %></header>
    <main class="leaderboard-main">
      <div class="main-content">
        <div class="leaderboard-center">
          <div class="list-top-3-users">
            <div class="user-info top2">
              <img
                <!-- Sửa đường dẫn từ /public/images thành /images -->
                <img src="/images/img/hero-img.jpg" alt="" class="user-avatar" />
                <p class="user-name">Gia Kiet</p>
              <p class="user-top">Top 2</p>
              <p class="user-score">Score: 1100</p>
            </div>

            <div class="user-info top1">
              <img
                <!-- Sửa tất cả đường dẫn từ /public/images thành /images -->
                <img src="/images/img/study1.jpg" alt="" class="user-avatar" />
                <p class="user-name">Mieu Hoai</p>
              <p class="user-top">Top 1</p>
              <p class="user-score">Score: 1200</p>
            </div>

            <div class="user-info top3">
              <img
                src="/public/images/img/features2.jpg"
                alt=""
                class="user-avatar"
              />
              <p class="user-name">Tran Anh</p>
              <p class="user-top">Top 3</p>
              <p class="user-score">Score: 1000</p>
            </div>
          </div>
        </div>

        <div class="leaderboard-content">
          <div class="list-top-more-users">
            <div class="user-list">
              <div class="user-item-info">
                <div class="user-top"><p>#</p></div>
                <p class="user-name">Tên tài khoản</p>
                <p class="user-score">Score</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>4</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features2.jpg" alt="" />
                  <p>Thanh Dat</p>
                </div>

                <p class="user-score">900</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>5</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features1.jpg" alt="" />
                  <p>Thanh Anh</p>
                </div>
                <p class="user-score">880</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>6</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features3.png" alt="" />
                  <p>Van Anh</p>
                </div>
                <p class="user-score">878</p>
              </div>

              <div class="user-item">
                <div class="user-top"><p>7</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features2.jpg" alt="" />
                  <p>Thanh Nhan</p>
                </div>

                <p class="user-score">738</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>8</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features1.jpg" alt="" />
                  <p>TTran Pham</p>
                </div>
                <p class="user-score">721</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>9</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features3.png" alt="" />
                  <p>Tra My</p>
                </div>
                <p class="user-score">700</p>
              </div>

              <div class="user-item">
                <div class="user-top"><p>10</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features2.jpg" alt="" />
                  <p>Van Lang</p>
                </div>

                <p class="user-score">655</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>11</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features1.jpg" alt="" />
                  <p>Au Co</p>
                </div>
                <p class="user-score">654</p>
              </div>
              <div class="user-item">
                <div class="user-top"><p>12</p></div>
                <div class="user-name">
                  <img src="/public/images/img/features3.png" alt="" />
                  <p>Tran Em</p>
                </div>
                <p class="user-score">576</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
